
<html ng-app="formExample">
    <head>


        <script src="js/angular.js" ></script>
        <script src="js/file.js"></script>
    </head>
<body>
		<div ng-controller="getValue">
		<form name="userForm">
		<input type="text" ng-model=name placeholder="Enter Username" ng-keyup="check()" required>
		{{output}}<br><br>
		<input type="password" ng-model=pass placeholder="*******" required><br><br>
		<button ng-click="login()" ng-disabled="userForm.$invalid">LogIn</button>
		</form>
		{{output1}}
		</body>
		</html>
